.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #eeee22;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerStyle {
  background-color: #eeee22;
  width: 100%;
  height: 100%;
  color: #333333;
}

.inputStyle {
  padding-bottom: 00px;
}

.outputStyle {
  padding-bottom: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}